.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  gap: 1rem;
  background: white;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
  user-select: none;
  width: 100%;
}

.content {
  padding: 0 50px;
  height: 100%;
  align-self: stretch;
}

.container {
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 2px 2px rgba(5, 5, 5, 0.06);
  padding: 3rem;
  display: flex;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 18px;
  font-weight: 800;
  gap: 2rem;
  min-height: 75vh;
}

.table {
  width: 100%;
}

.add-teacher {
  div {
    color: #333333 !important;
  }
  button {
    padding: 0;
  }
}

.ant-input-number {
  width: 100%;
}

.action-buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 15px 0;
  gap: 10px;
  .ant-btn-default {
    color: #135BB4;
    border-color: #135BB4;

  }
}